# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/
Cache.txt

# Environment variables
.env
backend/.env
frontend/.env
Cache.txt

# Build or distribution folders
frontend/build/
frontend/dist/